<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'home'%}">Siddipet Agri Clinic CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {%if user.is_authenticated %}
            <!-- <li class="nav-item">
              <a class="nav-link" href="{%url 'add_record'%}">Add Customer</a>
              </li>
            -->
            <!-- Drop down Starts-->
            <div class="btn-group">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                Master
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'home' %}"><b>Customer</b></a></li>
                <li><a class="dropdown-item" href="{%url 'company'%}"><b>Company</b></a></li>
                <li><a class="dropdown-item" href="{%url 'product_master' %}"><b>Product</b></a></li>
                <li><a class="dropdown-item" href="{% url 'price' %}"><b>Price</b></a></li>
                <li><a class="dropdown-item" href="{% url 'symptom_page'%}"><b>Symptom</b></a></li>
              </ul>
              <ul>
                <li class="nav-item">
                  <a class="nav-link ms-auto" href="{% url 'purchase_invoice' %}">Invoice</a>
                  </li>
              </ul>
              <ul>
              <li class="nav-item">
                <a class="nav-link ms-auto" href="{%url 'logout'%}">Logout</a>
                </li>
            </ul>

            {%else%}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'register'%}">Register</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'home'%}">Login</a>
          </li>
        </ul>
          {%endif%}
        
      </div>
    </div>
  </nav>