<!-- product_update.html -->
{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Update Product info</h1>
    <br/>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" class="btn btn-success">Update Record</button>
        <a href="{% url 'product_master' %}" class="btn btn-secondary">Back</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<script>
    function initializeSelect2(selector, initialValue) {
        console.log("Initializing Select2 for selector:", selector);
        $(selector).select2({
            ajax: {
                url: "{% url 'ajax_load_companies' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    console.log("AJAX request params:", params);
                    return {
                        term: params.term
                    };
                },
                processResults: function (data) {
                    console.log("Received data:", data);
                    return {
                        results: $.map(data, function (item) {
                            return { id: item.Company_name, text: item.Company_name };
                        })
                    };
                },
                error: function(xhr, status, error) {
                    console.error("Error in AJAX request:", error);
                }
            },
            placeholder: 'Select a manufacturer',
            minimumInputLength: 1,
            width: 'resolve'
        });

        // Set the initial value if provided
        if (initialValue) {
            var newOption = new Option(initialValue.text, initialValue.id, true, true);
            $(selector).append(newOption).trigger('change');
        }
    }
    
    $(document).ready(function () {
        console.log("Document is ready. Initializing Select2.");
        var initialManufacturer = {
            id: '{{ form.instance.Manufacturer }}',
            text: '{{ form.instance.Manufacturer }}'
        };
        initializeSelect2('#id_Manufacturer', initialManufacturer);
    });
</script>

{% endblock %}
